.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: rem(66);
  padding: rem(15) rem(40);
  text-align: center;
  font-size: rem(24);
  line-height: rem(36);
  border: rem(1) solid transparent;
  border-radius: 61px;
  cursor: pointer;
  transition: all 0.3s;

  &[disabled] {
    cursor: default;
    opacity: 0.6;
  }

  @include mq('tablet') {
    min-height: rem(44);
    padding: rem(10) rem(5);
    font-size: rem(16);
    line-height: rem(24);
  }
}
